.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 80px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 500ms;
}

.nav__black {
  background-color: #111;
}

.nav__container {
  top: -40px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nav__main {
  left: 140px;
  width: 140px;
  object-fit: contain;
  padding-left: 4rem;
}

.nav__options {
  position: fixed;
  right: 100px;
  display: flex;
  flex-direction: row;
}

.nav__options > a {
  padding-left: 5rem;
  color: #fff;
}

.nav__options > a:link {
  text-decoration: none;
}

.nav__options > a:visited {
  text-decoration: none;
}

.nav__optionSearch {
  display: flex;
  align-items: center;
}

.nav__optionSearch > i {
  padding-right: 5px;
}
